# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
.venv/
ENV/
env/

# Docker
docker-compose.override.yml
*.dockerignore
**/Dockerfile

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
